h1 {
    color: red;
    background-color: blanchedalmond;
}

h2 {
    color: purple;
}

li {
    color: yellow;
}

.alerta {
    color: blueviolet;
}

a {
    color: darkgoldenrod;
    background-color: aquamarine;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}